* {
    color:black;

}

h1{
    color: black;
}

.makecenter {


    text-align: center;
}

.sobremi{
    
    text-align: center;
}

body {
    background-color: beige;
    }

.div1{
    text-align: center;
}

.div1{
    text-align: center;
}

.div2{
    text-align: center;
}

.div3{
    text-align: center;
}

.div4{
    text-align: center;
}

.div5{
    text-align: center;
}

.div6{
    text-align: center;
}

.div7{
    text-align: center;
}

.div8{
    text-align: center;
}

.div9{
    text-align: center;
}

.div10{
    text-align: center;
}

.div11{
    text-align: center;
}

.div12{ 
    text-align: center;
}

.div13{
    text-align: center;
}

.div14{
    text-align: center;
}
.div15{
    text-align: center;
}

.div16{
    text-align: center;
}

.div17{
    text-align: center;
}
.div18{

    text-align: center;
}

.div19{
    text-align: center;
}

.div20{
    text-align: center;
}

.div21{
    text-align: center;
}

.div22{
    text-align: center;
}

.div23{
    text-align: center;
}

.form{
    text-align: center;
}
.unidadunotitulo{
    text-align: center;
}
.titulounidadunotres{
    text-align: center;
}
.repuestadoscuatro{
    text-align: center;
}

